@font-face {
	font-family: 'Titillium Web';
	src: url(../fonts/TitilliumWeb-Regular.ttf), url(../fonts/TitilliumWeb-Italic.ttf), url(../fonts/TitilliumWeb-Bold) format('ttf');
}
body{
    background-color: rgb(46, 45, 45);
    color: grey;
    padding-top:5%;
    font-family: 'Titillium Web' !important;
}
#actionButtons{
    margin-top: 2%;
    margin-bottom: 5%;
}
#buttonsDiv{
    margin-top: 2%;
}
.getExpense{
    border-top: 4px solid #2a6598;
    padding: 5% !important;
    margin: 10% -5%!important;
    color: whitesmoke !important;
    background-color: #424242c2 !important;
}
.postExpense{
    border-top: 4px solid #2a6598;
    padding: 5% !important;
    margin: 10% -5%!important;
    color: whitesmoke !important;
    background-color: #424242c2 !important;
}
.expenseType{
    margin-top: 5% !important;
    margin-bottom: 2% !important;
}
#expenseTypeHeader{
    margin-bottom: 5%;
    margin-top: 2%;
}
.starter-template {
    padding: 20px 15px;
    text-align: center;
}
.mainButton{
    font-size: large !important;
    padding: 3% 5% !important;
    margin: 5% 5% 5% 5% !important;/* 
    color: whitesmoke !important;
    background-color: #424242c2 !important; */
}
.btn-primary{
    color: white !important;
}
#currentExpense{
    padding-top: 2% !important; 
    padding-bottom: 2% !important; 
}
@media (max-width : 600px ){
    .mainButton{
        font-size: large !important;
        padding: 5% 7% !important;
        margin: 3% 5% 15% 5% !important;/* 
        color: whitesmoke !important;
        background-color: #424242c2 !important; */
    }
    .getExpense{
        border-top: 4px solid #2a6598;
        padding: 5% !important;
        margin: 80% -5% 10% -5%!important;
        color: whitesmoke !important;
        background-color: #424242c2 !important;
    }
    .postExpense{
        border-top: 4px solid #2a6598;
        padding: 5% !important;
        margin: 80% -5% 10% -5% !important;
        color: whitesmoke !important;
        background-color: #424242c2 !important;
    }
    
}
@media (max-width : 1080px){
    #mainTable {
        padding-bottom: 7% !important;
        padding-top: 7% !important;
}
}

.grads {
    text-align: center!important;
    padding: 2% !important;
    font-size: large;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
#deleteRow{
    cursor: pointer;
}
table{
    background-color: #2c2c2c !important;
    color: #FF9800 !important;
    font-weight: bolder !important;
}
.table-hover>tbody>tr:hover {
    background-color: #616161!important;
    color: #f70800 !important;
}
/* #deleteRow :hover{
    background-color: rebeccapurple !important;
} */
#mainTable{
    padding: 2% ;
    text-align: center !important;
    vertical-align: center !important;
}
#postForm{
    padding: 3% 15% !important;
    margin-bottom:  3% !important;
}
#left{
margin-top: 2%;
margin-bottom: 2%;
}
#expenseSubmit{
    margin-top: 5% !important;
}
._spinner,
.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center
}

.spinner>div {
	background-color: #fff;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

._spinner>div,
.spinner>div {
	width: 18px;
	height: 18px;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

._spinner>div,
.table-hover>tbody>tr:hover {
	background-color: #255277!important
}

._spinner>div {
	animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

._spinner ._bounce1,
.spinner .bounce1 {
	-webkit-animation-delay: -.32s;
	animation-delay: -.32s
}

._spinner ._bounce2,
.spinner .bounce2 {
	-webkit-animation-delay: -.16s;
	animation-delay: -.16s
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	100%,
	80% {
		-webkit-transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1)
	}
}

@keyframes sk-bouncedelay {
	0%,
	100%,
	80% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

/* #getButton{
    padding: 8% 16% 8% 16%!important;
    color: white !important;
    background-color:#3949ab !important;
    font-weight: bold!important;
    font-size: large !important;
}
#postButton{
    padding: 8% 16% 8% 16% !important;
    background-color: #3949ab !important;
    color: white !important;
    font-weight: bold!important;
    font-size: large !important;
} */
